
### FILE TYPES

## HIDDEN

.*

_*

## DO NOT POST (DNP)

*.dnp.*
*.prv.*

## IMAGES

*.gif
*.jpg
*.jpeg
*.png
*.svg

## AUDIO & VIDEO

*.mp3
*.mp4

## DOCS

*.pdf
*.doc
*.docx

## DATA

*.xml
*.csv
*.sql

## GIMP

*.xcf

# PROJECT TYPES

*.komodoproject
*.sh3d

# ARCHIVES

*.bz2

### FOLDER TYPES

## MAJOR EXCLUDE

# bin/
# core/
# vendor/
wki/
cncr/

d/
# dependency manager (for now)

e/bin/plugins/
# should (not?) include plugins unless required??

e/bin/plugins/wp-base-boiler-plate/plugin.php
# not ready yet

e/bin/themes/twentytwelve/
# too old!!! (but nice and clean)

m/
# modelling engine

u/
# User files!!!

cluster/
# All cluster files (for now)

## LESSER EXCLUDE

archive/
backup/
cache/
db/
docs/
font/
html/
ico-pack/
image/
log/
media/
model/
page/
private/
wp-content/

### SPECIFIC FOLDERS (MAJOR)

/0/media/
/2/
/3/

### SPECIFIC FILES

article.html
debug.log
default.html
draft.html
favicon.ico
license.txt
local.html
sitemap.xml
sitemap.xml.gz

# SPECIFIC CONFIG FILES


### DO NOT IGNORE ("!" to UNignore)
# No space after exclamation mark

!.gitignore
!.htaccess
!article.pub.html

### SPECIAL FILES

#!.localhost
# Used as a *hard* indicator that file is on local machine and not a public server.
