/* theme-4100-search/css/style.css */

#search {
	background: transparent;
	float: none;
	max-width: 600px;
	min-width: 200px;
	display: inline-block;
	margin: 0 auto;
}

#search input[type="search"] {
	width: 100%;
	background: transparent;
	border: 1px solid #444;
	border-radius: 3px;
	padding: 2px 7px;
	display: inline-block;
	margin: 0 auto;
	color: #e0e0e0;
	min-height: 32px;
    font-size: 15px;
}

#search input[type="search"]::-webkit-input-placeholder { color: #444; }

#search input[type="search"]:hover,
#search input[type="search"]:active,
#search input[type="search"]:focus {
	background-color: #777;
	border: 1px solid #555;
	color: #e0e0e0;
}

#search input[type="search"]:hover::-webkit-input-placeholder { color: #e0e0e0; }
#search input[type="search"]:focus::-webkit-input-placeholder { color: #e0e0e0; }
#search input[type="search"]:active::-webkit-input-placeholder { color: #e0e0e0; }
​